Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: mise exec -- yamllint -c .yamllint.yaml .
  language: system

terraform-fmt:
  name: terraform format
  entry: mise exec -- terraform fmt -check -recursive
  language: system
  pass_filenames: false

terragrunt-fmt:
  name: terragrunt format
  entry: mise exec -- terragrunt hcl format --check
  language: system
  pass_filenames: false

chore: add terragrunt taskfile for plan and apply operations with summary outputs
  .mise.toml
  .taskfiles/terragrunt.yaml
  Taskfile.yaml
Due: yamllint

feat(rb5009/firewall): update exposed services address list
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

fix(rb5009/firewall): allow wireguard connections from all interfaces
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat(wireguard): add peer
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/terragrunt.hcl
Due: terragrunt-fmt

feat(rb5009/firewall): allow management VLAN access to all LAN networks
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

chore(rb5009/firewall): cleanup
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

fix(rb5009/firewall): update rule to allow wireguard-trusted access to all interfaces
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

ci: remove renovate workflow
  .github/workflows/renovate.yaml
Due: actionlint, yamllint

chore(Taskfile): add dotenv configuration for environment variables
  Taskfile.yaml
Due: yamllint

ci: update workflows
  .github/workflows/lint.yaml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

ci: wrap commands prone to retry-able errors in a retry action
  .github/workflows/lint.yaml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

ci: set timeout and max retries
  .github/workflows/lint.yaml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

ci: set timeout and max retries
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

chore: tg init -upgrade
  infrastructure/cloudflare/primary/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: terragrunt-fmt

feat: update users
  infrastructure/mikrotik/globals.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/globals.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat(rb5009): add dhcp lease for bambu printer
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/terragrunt.hcl
Due: terragrunt-fmt

fix(crs326): put my desktop on guest
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

feat(crs326): use 2.5g SFP for mirkputer; add trusted vlan tagged
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

fix
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

fix(crs317): remove mirkputer 10g as it is no longer used
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Due: terragrunt-fmt

test: port-forward to envoy-external IP
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

Revert "test: port-forward to envoy-external IP"
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat: add rendered wireguard.conf text field to 1Password peer items
  infrastructure/1password/mikrotik-wireguard-keys/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/terragrunt.hcl
Due: terragrunt-fmt

fix: correct AllowedIPs to 10.0.10.0/24 services-network split tunnel
  infrastructure/1password/mikrotik-wireguard-keys/terragrunt.hcl
Due: terragrunt-fmt

feat: add name, pubkey and DNS to client wireguard.conf interface section
  infrastructure/1password/mikrotik-wireguard-keys/terragrunt.hcl
Due: terragrunt-fmt

chore: add mise lockfile and migrate CI to mise-action
  .github/workflows/lint.yaml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
  mise.lock
Due: actionlint, yamllint

chore: add mise lockfile and migrate CI to mise-action (#147)
  .github/workflows/lint.yaml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
  mise.lock
Due: actionlint, yamllint

wip: dmz
  infrastructure/mikrotik/router-rb5009/services/dhcp/dmz/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
Due: terragrunt-fmt

feat(rb5009): ashome site-to-site
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/routing/terragrunt.hcl
Due: terragrunt-fmt

ci: replace app id with client id in generate-token action
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

ci: load secrets from .env.1pass file instead of hardcoding in action
  .env.1pass
  .github/actions/load-secrets/action.yml
Due: yamllint

ci: inline load-secrets steps and drop composite action
  .github/actions/load-secrets/action.yml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

ci: load secrets from .env.1pass file instead of hardcoding in action (#150)
  .env.1pass
  .github/actions/load-secrets/action.yml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

feat(switch-hex): configure ether3 as untrusted access port for living room pi
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

feat(switch-hex): configure ether3 as untrusted access port for living room pi (#151)
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

chore: cleanup dhcp leases
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/terragrunt.hcl
Due: terragrunt-fmt

feat: onboard cAP XL
  infrastructure/mikrotik/ap-capxl/.terraform.lock.hcl
  infrastructure/mikrotik/ap-capxl/provider.hcl
  infrastructure/mikrotik/ap-capxl/terragrunt.hcl
Due: terragrunt-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(ya?ml)$
  yamllint: any of: \.(yaml|yml)$
  terraform-fmt: any of: \.tf$
  terragrunt-fmt: any of: \.hcl$
