Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: mise exec -- yamllint -c .yamllint.yaml .
  language: system

terraform-fmt:
  name: terraform format
  entry: mise exec -- terraform fmt -check -recursive
  language: system
  pass_filenames: false

terragrunt-fmt:
  name: terragrunt format
  entry: mise exec -- terragrunt hcl format --check
  language: system
  pass_filenames: false

feat(1pass): push cAP XL creds to vault
  infrastructure/1password/mikrotik-users/terragrunt.hcl
Due: terragrunt-fmt

fix(capXL): disable bridge VLAN filtering
  infrastructure/mikrotik/ap-capxl/terragrunt.hcl
Due: terragrunt-fmt

feat(fireguard-peers): add new peer configuration for Ana Phone
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/terragrunt.hcl
Due: terragrunt-fmt

fix(drift): match the drift issue by exact title
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

ci(drift): run every 8 hours at minute 24
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

ci(drift): every 8 hours at an off-peak minute, and match the drift issue by exact title (#157)
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint

chore(mise): remove op cli
  .mise.toml
  mise.lock
Due: none

feat(CRS326): add port mappings for Zimaboard and new NUC
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

feat(CRS326): add port mappings for Zimaboard and new NUC (#159)
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

fix(ci): make terragrunt comment generation robust
  .github/scripts/generate-comment.py
  .github/workflows/terragrunt-cd.yaml
Due: actionlint, yamllint

fix(ci): make terragrunt comment generation robust (#162)
  .github/scripts/generate-comment.py
  .github/workflows/terragrunt-cd.yaml
Due: actionlint, yamllint

fix(firewall): change LAN->WG to Trusted->WG
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

fix: move zimaboard to guest network
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

fix: typo
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(ya?ml)$
  yamllint: any of: \.(yaml|yml)$
  terraform-fmt: any of: \.tf$
  terragrunt-fmt: any of: \.hcl$
