Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(ya?ml)$
        pass_filenames: false

      - id: yamllint
        name: yamllint
        entry: mise exec -- yamllint -c .yamllint.yaml .
        language: system
        types: [yaml]

      - id: terraform-fmt
        name: terraform format
        entry: mise exec -- terraform fmt -check -recursive
        language: system
        files: \.tf$
        pass_filenames: false

      - id: terragrunt-fmt
        name: terragrunt format
        entry: mise exec -- terragrunt hcl format --check
        language: system
        files: \.hcl$
        pass_filenames: false

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

ci(terragrunt-ci): improve pr-comment/issue body handling
  .github/scripts/generate-plan-comment.py
  .github/scripts/issue-comment.j2
  .github/scripts/plan-comment.j2
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint

feat(terragrunt): reference external modules
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/cloud/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/pppoe-client/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/server/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

fix(terraform): remove local modules
  modules/mikrotik-base/_provider.tf
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/bonding.tf
  modules/mikrotik-base/bridge.tf
  modules/mikrotik-base/certificates.tf
  modules/mikrotik-base/interfaces.tf
  modules/mikrotik-base/ip-services.tf
  modules/mikrotik-base/ntp.tf
  modules/mikrotik-base/system.tf
  modules/mikrotik-base/tools.tf
  modules/mikrotik-base/users.tf
  modules/mikrotik-base/vlans.tf
  modules/mikrotik-capsman/_outputs.tf
  modules/mikrotik-capsman/_provider.tf
  modules/mikrotik-capsman/_variables.tf
  modules/mikrotik-capsman/main.tf
  modules/mikrotik-cloud/_provider.tf
  modules/mikrotik-cloud/_variables.tf
  modules/mikrotik-cloud/main.tf
  modules/mikrotik-dhcp-server/_provider.tf
  modules/mikrotik-dhcp-server/_variables.tf
  modules/mikrotik-dhcp-server/main.tf
  modules/mikrotik-dns-server/_provider.tf
  modules/mikrotik-dns-server/_variables.tf
  modules/mikrotik-dns-server/main.tf
  modules/mikrotik-firewall/_provider.tf
  modules/mikrotik-firewall/_variables.tf
  modules/mikrotik-firewall/filter-rules.tf
  modules/mikrotik-firewall/interface-lists.tf
  modules/mikrotik-firewall/nat-rules.tf
  modules/mikrotik-pppoe-client/_provider.tf
  modules/mikrotik-pppoe-client/_variables.tf
  modules/mikrotik-pppoe-client/main.tf
  modules/mikrotik-wireguard-peers/_provider.tf
  modules/mikrotik-wireguard-peers/_variables.tf
  modules/mikrotik-wireguard-peers/main.tf
  modules/mikrotik-wireguard-server/_provider.tf
  modules/mikrotik-wireguard-server/_variables.tf
  modules/mikrotik-wireguard-server/main.tf
Due: terraform-fmt

feat(cloudflare): migrate to external modules
  infrastructure/cloudflare/primary/terragrunt.hcl
  infrastructure/cloudflare/primary/vpn/.terraform.lock.hcl
  infrastructure/cloudflare/primary/vpn/terragrunt.hcl
  infrastructure/cloudflare/primary/zone.hcl
  infrastructure/cloudflare/secondary/terragrunt.hcl
  infrastructure/cloudflare/secondary/vpn/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/vpn/terragrunt.hcl
  infrastructure/cloudflare/secondary/zone.hcl
Due: terragrunt-fmt

feat(pass): migrate to external modules and refactor/restructure
  infrastructure/1password/Badoink/terragrunt.hcl
  infrastructure/1password/mikrotik-users/terragrunt.hcl
  infrastructure/1password/mikrotik-wireguard-keys/terragrunt.hcl
  infrastructure/1password/terragrunt.hcl
Due: terragrunt-fmt

fix: remove unused modules
  modules/1password-item/main.tf
  modules/1password-item/variables.tf
  modules/cloudflare-cname/_provider.tf
  modules/cloudflare-cname/_variables.tf
  modules/cloudflare-cname/main.tf
Due: terraform-fmt

chore(renovate): enable terragrunt manager
  .renovaterc.json5
Due: none

docs: update readme
  README.md
Due: none

chore(taskfile): no more linting modules here
  .taskfiles/lint.yaml
Due: yamllint

refactor: cleanup
  infrastructure/1password/mikrotik-users/terragrunt.hcl
  infrastructure/1password/mikrotik-wireguard-keys/terragrunt.hcl
Due: terragrunt-fmt

chore: tg init
  infrastructure/1password/Badoink/.terraform.lock.hcl
  infrastructure/1password/mikrotik-users/.terraform.lock.hcl
  infrastructure/1password/mikrotik-wireguard-keys/.terraform.lock.hcl
  infrastructure/1password/mikrotik-wireguard-keys/terragrunt.hcl
  infrastructure/cloudflare/primary/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/.terraform.lock.hcl
Due: terragrunt-fmt

style: cleanup
  infrastructure/1password/Badoink/terragrunt.hcl
  infrastructure/1password/mikrotik-users/terragrunt.hcl
  infrastructure/1password/mikrotik-wireguard-keys/terragrunt.hcl
  infrastructure/cloudflare/primary/terragrunt.hcl
  infrastructure/cloudflare/secondary/terragrunt.hcl
Due: terragrunt-fmt

chore: migrate certificate and device defaults to globals
  infrastructure/mikrotik/globals.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

refactor: consolidate DHCP dependencies
  infrastructure/mikrotik/router-rb5009/services/dhcp/dhcp.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/terragrunt.hcl
Due: terragrunt-fmt

fix(rb5009/dns): remove static DNS entry for TrueNAS services. this is handled by the dhcp module now
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
Due: terragrunt-fmt

fix(firewall): remove rule for allowing services to the internet
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/globals.hcl
Due: terragrunt-fmt

fix
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat: update fw rules
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

chore(firewall): update comments and rename interface lists
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

fix(firewall): remove subnet mask from mirkphone_ip and mirkbook_ip
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

fix(terraform): update source reference to v0.2.0 for firewall module
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat: update and simplify fw rules (#141)
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

ci(terragrunt-ci): ensure unit status is checked before displaying details in issue and plan comments
  .github/scripts/issue-comment.j2
  .github/scripts/plan-comment.j2
Due: none

feat(rb5009/firewall): only allow management to svc and internet + input
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

refactor(firewall): clean up locals and use local variable for PPPoE interface
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat(hacks): add ansible playbook for firewall connectivity testing
  hacks/firewall-tests/ansible.cfg
  hacks/firewall-tests/group_vars/all.yml
  hacks/firewall-tests/group_vars/guest.yml
  hacks/firewall-tests/group_vars/management.yml
  hacks/firewall-tests/group_vars/services.yml
  hacks/firewall-tests/group_vars/storage.yml
  hacks/firewall-tests/group_vars/trusted.yml
  hacks/firewall-tests/group_vars/untrusted.yml
  hacks/firewall-tests/inventory.yml
  hacks/firewall-tests/playbook.yml
Due: yamllint

ci: update terragrunt apply workflow to comment on the commit that triggered it
  .github/scripts/comment.j2
  .github/scripts/generate-comment.py
  .github/scripts/issue-comment.j2
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint

ci: handle plan errors in drift detection
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint

ci: eliminate drift issue body race condition
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint

chore(gitignore): remove dead modules lock file rule
  .gitignore
Due: none

feat(capsman): bump 5GHz channel width to 40MHz
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
Due: terragrunt-fmt

fix(root): replace deprecated force_path_style with use_path_style
  root.hcl
Due: terragrunt-fmt

fix(capsman): correct 5GHz channel width value to 20/40mhz
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
Due: terragrunt-fmt

ci(terragrunt-cd): cleanup path filters
  .github/workflows/terragrunt-cd.yaml
Due: actionlint, yamllint

ci(lint): run on github-hosted runners
  .github/workflows/lint.yaml
Due: actionlint, yamllint

ci: split drift detection into separate workflow from terragrunt planning
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift.yaml
Due: actionlint, yamllint
