Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: mise exec -- yamllint -c .yamllint.yaml .
  language: system

terraform-fmt:
  name: terraform format
  entry: mise exec -- terraform fmt -check -recursive
  language: system
  pass_filenames: false

terragrunt-fmt:
  name: terragrunt format
  entry: mise exec -- terragrunt hcl format --check
  language: system
  pass_filenames: false

chore: tf init -upgrade
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: terragrunt-fmt

fix: use variable for disabling IPv6 settings
  modules/mikrotik-base/system.tf
Due: terraform-fmt

fix typo
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

refactor: separate router-services tf code from terragrunt config
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-router-services/_outputs.tf
  modules/mikrotik-router-services/_provider.tf
  modules/mikrotik-router-services/_variables.tf
  modules/mikrotik-router-services/capsman.tf
  modules/mikrotik-router-services/dhcp-servers.tf
  modules/mikrotik-router-services/dns-server.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/firewall-interface-lists.tf
  modules/mikrotik-router-services/firewall-nat-rules.tf
  modules/mikrotik-router-services/modules/dhcp-server/main.tf
  modules/mikrotik-router-services/modules/dhcp-server/provider.tf
  modules/mikrotik-router-services/modules/dhcp-server/variables.tf
  modules/mikrotik-router-services/pppoe-client.tf
  modules/mikrotik-router-services/zerotier.tf
Due: terraform-fmt, terragrunt-fmt

chore: update labeler config
  .github/labeler.yaml
Due: yamllint

ci(terragrunt-ci): fix ternary condition for drift_detected status
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint

wip: replace locals with vars in module
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-router-services/.terraform.lock.hcl
  modules/mikrotik-router-services/_variables.tf
  modules/mikrotik-router-services/capsman.tf
  modules/mikrotik-router-services/dhcp-servers.tf
  modules/mikrotik-router-services/dns-server.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/firewall-interface-lists.tf
  modules/mikrotik-router-services/zerotier.tf
Due: terraform-fmt, terragrunt-fmt

fix: update terraform source path to use find_in_parent_folders
  infrastructure/mikrotik/router-services/terragrunt.hcl
Due: terragrunt-fmt

fix: set types for tofu vars
  modules/mikrotik-router-services/_variables.tf
Due: terraform-fmt

fix: remove terraform lock file inside module
  modules/mikrotik-router-services/.terraform.lock.hcl
Due: terragrunt-fmt

style: fix lint
  modules/mikrotik-router-services/_variables.tf
Due: terraform-fmt

fix: remove default value for vlans
  modules/mikrotik-router-services/_variables.tf
Due: terraform-fmt

actually, default to empty objects for both vlans and static dns
  modules/mikrotik-router-services/_variables.tf
Due: terraform-fmt

fix: replace locals with vars in module (#125)
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-router-services/_variables.tf
  modules/mikrotik-router-services/capsman.tf
  modules/mikrotik-router-services/dhcp-servers.tf
  modules/mikrotik-router-services/dns-server.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/firewall-interface-lists.tf
  modules/mikrotik-router-services/zerotier.tf
Due: terraform-fmt, terragrunt-fmt

ci: remove codeql workflow
  .github/workflows/codeql.yml
Due: actionlint, yamllint

chore: terragrunt init -upgrade
  infrastructure/1password/.terraform.lock.hcl
Due: terragrunt-fmt

feat: add lenovo tiny to living room
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat: remove blikvm from the rack
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

chore: cleanup unused ports
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

feat: update static dns and dhcp leases for lenovo tiny cluster
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

chore: cleanup
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat: add dhcp reservation for sonoff dongle max
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

fix: clean up local dns overrides
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat(hex): add sonoff zigbee dongle
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

feat: remove ZeroTier
  .github/actions/load-secrets/action.yml
  README.md
  infrastructure/mikrotik/router-services/.terraform.lock.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-router-services/_provider.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/zerotier.tf
Due: yamllint, terraform-fmt, terragrunt-fmt

chore: tf init -upgrade
  infrastructure/1password/.terraform.lock.hcl
Due: terragrunt-fmt

feat(router-servicess/firewall): add hairpin NAT rule for LAN access
  modules/mikrotik-router-services/firewall-nat-rules.tf
Due: terraform-fmt

feat(tofu): add capsman module
  modules/mikrotik-capsman/main.tf
  modules/mikrotik-capsman/outputs.tf
  modules/mikrotik-capsman/provider.tf
  modules/mikrotik-capsman/variables.tf
Due: terraform-fmt

feat(tofu): add dns-server module
  modules/mikrotik-dns-server/main.tf
  modules/mikrotik-dns-server/provider.tf
  modules/mikrotik-dns-server/variables.tf
Due: terraform-fmt

feat(tofu): add pppoe-client module
  modules/mikrotik-pppoe-client/main.tf
  modules/mikrotik-pppoe-client/outputs.tf
  modules/mikrotik-pppoe-client/provider.tf
  modules/mikrotik-pppoe-client/variables.tf
Due: terraform-fmt

feat(terragrunt): add dns-server unit
  infrastructure/mikrotik/router-base/dns-server/terragrunt.hcl
Due: terragrunt-fmt

feat(terragrunt): add capsman unit
  infrastructure/mikrotik/router-base/capsman/terragrunt.hcl
Due: terragrunt-fmt

fix: cleanup old code from new modules
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-router-services/_outputs.tf
  modules/mikrotik-router-services/_variables.tf
  modules/mikrotik-router-services/capsman.tf
  modules/mikrotik-router-services/dns-server.tf
  modules/mikrotik-router-services/pppoe-client.tf
Due: terraform-fmt, terragrunt-fmt

feat(terragrunt): add pppoe-client unit
  infrastructure/mikrotik/router-base/pppoe-client/terragrunt.hcl
Due: terragrunt-fmt

wip
  infrastructure/mikrotik/router-base/dhcp/guest/terragrunt.hcl
  infrastructure/mikrotik/router-base/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-base/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-base/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-base/dhcp/trusted/terragrunt.hcl
  infrastructure/mikrotik/router-base/dhcp/untrusted/terragrunt.hcl
  infrastructure/mikrotik/router-base/firewall/terragrunt.hcl
  infrastructure/mikrotik/router-services/.terraform.lock.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-dhcp-server/main.tf
  modules/mikrotik-dhcp-server/provider.tf
  modules/mikrotik-dhcp-server/variables.tf
  modules/mikrotik-firewall/filter-rules.tf
  modules/mikrotik-firewall/interface-lists.tf
  modules/mikrotik-firewall/nat-rules.tf
  modules/mikrotik-firewall/provider.tf
  modules/mikrotik-firewall/variables.tf
  modules/mikrotik-router-services/_outputs.tf
  modules/mikrotik-router-services/_variables.tf
  modules/mikrotik-router-services/dhcp-servers.tf
  modules/mikrotik-router-services/firewall-interface-lists.tf
  modules/mikrotik-router-services/firewall-nat-rules.tf
  modules/mikrotik-router-services/modules/dhcp-server/main.tf
  modules/mikrotik-router-services/modules/dhcp-server/provider.tf
  modules/mikrotik-router-services/modules/dhcp-server/variables.tf
Due: terraform-fmt, terragrunt-fmt

feat(hex): add storage vlan to lenovo tiny
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

chore: terragrunt init upgrade
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/router-services/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: terragrunt-fmt

fix: remove old hass configs
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(ya?ml)$
  yamllint: any of: \.(yaml|yml)$
  terraform-fmt: any of: \.tf$
  terragrunt-fmt: any of: \.hcl$
