Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(ya?ml)$
        pass_filenames: false

      - id: yamllint
        name: yamllint
        entry: mise exec -- yamllint -c .yamllint.yaml .
        language: system
        types: [yaml]

      - id: terraform-fmt
        name: terraform format
        entry: mise exec -- terraform fmt -check -recursive
        language: system
        files: \.tf$
        pass_filenames: false

      - id: terragrunt-fmt
        name: terragrunt format
        entry: mise exec -- terragrunt hcl format --check
        language: system
        files: \.hcl$
        pass_filenames: false

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

docs: update readme
  README.md
Due: none

feat: update fw rules
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat: add back JetKVM
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

feat: update static leases for home ops
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
Due: terragrunt-fmt

fix: remove unused lease and dns server from svc dhcp
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
Due: terragrunt-fmt

chore: terragrunt upgrade
  infrastructure/1password/.terraform.lock.hcl
Due: terragrunt-fmt

feat(capsman): set channel width for 5ghz network
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
Due: terragrunt-fmt

fix: update dns
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
Due: terragrunt-fmt

fix: typo
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
Due: terragrunt-fmt

feat(crs317): update pve bonds
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Due: terragrunt-fmt

feat(firewall): update filter rules
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat: update dhcp leases for single-node cluster
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
Due: terragrunt-fmt

feat: update dns
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
Due: terragrunt-fmt

fix(rb5009/dhcp): set dns server on services vlan
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
Due: terragrunt-fmt

ci(onepassword): use connect server
  .github/actions/load-secrets/action.yml
  .github/workflows/terragrunt-apply.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift-detector.yaml
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

ci: disable mise cache for self-hosted runners
  .github/workflows/terragrunt-apply.yaml
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

chore(mise): disable gh attestations?
  .mise.toml
Due: none

ci: fix load-secrets action
  .github/actions/load-secrets/action.yml
Due: yamllint

ci: remove op token from load secrets step
  .github/actions/load-secrets/action.yml
Due: yamllint

ci: cleanup
  .github/actions/load-secrets/action.yml
  .github/workflows/terragrunt-apply.yaml
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

ci(terragrunt-plan): pass no color arg to terragrunt
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

chore(mise): terragrunt 0.98+ breaks tofu CLI flags
  .mise.toml
  .renovaterc.json
  .renovaterc.json5
Due: none

chore(renovate): update config
  .renovaterc.json5
Due: none

ci: simplify
  .commitlintrc.json
  .github/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/pr-metadata.yaml
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .github/workflows/terragrunt-drift-detector.yaml
  .github/workflows/terragrunt-lint.yaml
  .github/workflows/terragrunt-plan.yaml
  .taskfiles/lint.yaml
  Taskfile.yaml
Due: actionlint, yamllint

ci: update 1pass config action
  .github/actions/load-secrets/action.yml
Due: yamllint

chore(mise): add taskfile
  .mise.toml
Due: none

chore(mise): replace yamllint with yamlfmt
  .mise.toml
Due: none

test ci
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Due: terragrunt-fmt

fix
  .github/workflows/terragrunt-ci.yaml
  .mise.toml
  .pre-commit-config.yaml
Due: actionlint, yamllint

fix ci
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  modules/1password-item/main.tf
  modules/1password-item/providers.tf
  modules/1password-item/variables.tf
Due: actionlint, yamllint, terraform-fmt

fix ci
  modules/1password-item/providers.tf
Due: terraform-fmt

chore: update gitignore
  .gitignore
Due: none

fix
  infrastructure/1password/terragrunt.hcl
Due: terragrunt-fmt

remove changes
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Due: terragrunt-fmt

ci: use op connect server (#129)
  .github/workflows/terragrunt-cd.yaml
  .github/workflows/terragrunt-ci.yaml
  .gitignore
  .mise.toml
  .pre-commit-config.yaml
  infrastructure/1password/terragrunt.hcl
  modules/1password-item/main.tf
  modules/1password-item/providers.tf
  modules/1password-item/variables.tf
Due: actionlint, yamllint, terraform-fmt, terragrunt-fmt

ci(apply): remove op SA token
  .github/workflows/terragrunt-cd.yaml
Due: actionlint, yamllint

chore: terragrunt init -upgrade
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/pppoe-client/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: terragrunt-fmt

feat(terraform): add module for mikrotik-cloud
  modules/mikrotik-cloud/_provider.tf
  modules/mikrotik-cloud/_variables.tf
  modules/mikrotik-cloud/main.tf
Due: terraform-fmt

feat(rb5009): DDNS via cloud module
  infrastructure/mikrotik/router-rb5009/services/cloud/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/cloud/terragrunt.hcl
Due: terragrunt-fmt
