Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: mise exec -- yamllint -c .yamllint.yaml .
  language: system

terraform-fmt:
  name: terraform format
  entry: mise exec -- terraform fmt -check -recursive
  language: system
  pass_filenames: false

terragrunt-fmt:
  name: terragrunt format
  entry: mise exec -- terragrunt hcl format --check
  language: system
  pass_filenames: false

feat: add static DHCP leases for new HOPS cluster
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat: add DNS for HOPS cluster k8s api
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat: add DNS and static leases for INFRA cluster
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

fix: remove old hass configs
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

fix: remove lenovo tiny
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

chore(mise): cleanup config
  .mise.toml
Due: none

fix(capsman): use random_pet instead of random_string for memorable passwords
  modules/mikrotik-capsman/main.tf
Due: terraform-fmt

fix(1password): remove password recipe
  modules/1password-item/main.tf
Due: terraform-fmt

feat(module/dhcp-server): add ability to create static DNS entries for leases
  modules/mikrotik-dhcp-server/_variables.tf
  modules/mikrotik-dhcp-server/main.tf
Due: terraform-fmt

fix: cleanup stale dns entries
  infrastructure/mikrotik/router-base/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-base/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-base/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-base/services/dhcp/trusted/terragrunt.hcl
  infrastructure/mikrotik/router-base/services/dhcp/untrusted/terragrunt.hcl
  infrastructure/mikrotik/router-base/services/dns-server/terragrunt.hcl
Due: terragrunt-fmt

fix: migrate more static dns to leases
  infrastructure/mikrotik/router-base/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-base/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-base/services/dns-server/terragrunt.hcl
Due: terragrunt-fmt

chore: cleanup old locals
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-base/services/dhcp/untrusted/terragrunt.hcl
Due: terragrunt-fmt

refactor: rename router-base to router-rb5009
  .github/labeler.yaml
  README.md
  infrastructure/1password/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/common.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/pppoe-client/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/pppoe-client/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: yamllint, terragrunt-fmt

fix: don't set default gw for services and storage networks
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
Due: terragrunt-fmt

feat(modules/mikrotik-base): add users and groups
  modules/mikrotik-base/_outputs.tf
  modules/mikrotik-base/_provider.tf
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/users.tf
Due: terraform-fmt

feat(mikrotik): create metrics user for mktxp
  infrastructure/mikrotik/router-rb5009/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

feat(mikrotik/rb5009): create external-dns user
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
Due: terragrunt-fmt

feat(1pass): propagate user credentials
  infrastructure/1password/terragrunt.hcl
Due: terragrunt-fmt

feat(mikrotik): update hostname to derive from directory name
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

feat: update dependencies
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/pppoe-client/terragrunt.hcl
Due: terragrunt-fmt

wip
  README.md
  infrastructure/mikrotik/globals.hcl
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-rb5009/common.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
  modules/mikrotik-base/.terraform.lock.hcl
  modules/mikrotik-base/_outputs.tf
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/users.tf
Due: terraform-fmt, terragrunt-fmt

fix: update secret propagation to 1pass, add back 2.4ghz ssid
  infrastructure/1password/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
  modules/1password-item/main.tf
  modules/1password-item/variables.tf
Due: terraform-fmt, terragrunt-fmt

style: fix lint
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

refactor: cleanup
  README.md
  infrastructure/1password/terragrunt.hcl
  infrastructure/mikrotik/globals.hcl
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-rb5009/common.hcl
  infrastructure/mikrotik/router-rb5009/provider.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/pppoe-client/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/provider.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/provider.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/provider.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
  modules/mikrotik-base/_outputs.tf
  modules/mikrotik-base/_provider.tf
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/users.tf
  modules/mikrotik-capsman/_outputs.tf
  modules/mikrotik-capsman/_provider.tf
  modules/mikrotik-dhcp-server/_provider.tf
  modules/mikrotik-dns-server/_provider.tf
  modules/mikrotik-firewall/_provider.tf
  modules/mikrotik-pppoe-client/_provider.tf
Due: terraform-fmt, terragrunt-fmt

chore: remove leftover cloudflare dns references
  .github/actions/load-secrets/action.yml
  README.md
Due: yamllint

ci: use correct environment variable name for Terragrunt non-interactive mode
  .github/workflows/terragrunt-apply.yaml
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

ci: use `terragrunt run --all` syntax
  .github/workflows/terragrunt-apply.yaml
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

fix(module/mikrotik-dhcp-server): set gateway default to null
  modules/mikrotik-dhcp-server/_variables.tf
Due: terraform-fmt

fix: use basename when evaluating device name from dir name
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

refactor: extract default users and groups to globals; rename user_groups to groups
  infrastructure/mikrotik/globals.hcl
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/users.tf
Due: terraform-fmt, terragrunt-fmt

docs: update README
  README.md
Due: none

feat: update dhcp leases and static dns
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server/terragrunt.hcl
Due: terragrunt-fmt

feat(module/mikrotik-capsman): add per-channel configuration options
  modules/mikrotik-capsman/_variables.tf
  modules/mikrotik-capsman/main.tf
Due: terraform-fmt

fix(rb5009/capsman): set channel settings for 2.4 and 5 ghz bands
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
Due: terragrunt-fmt

fix(rb5009/capsman): set upgrade policy to "require same version"
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
Due: terragrunt-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(ya?ml)$
  yamllint: any of: \.(yaml|yml)$
  terraform-fmt: any of: \.tf$
  terragrunt-fmt: any of: \.hcl$
