Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(ya?ml)$
        pass_filenames: false

      - id: yamllint
        name: yamllint
        entry: mise exec -- yamllint -c .yamllint.yaml .
        language: system
        types: [yaml]

      - id: terraform-fmt
        name: terraform format
        entry: mise exec -- terraform fmt -check -recursive
        language: system
        files: \.tf$
        pass_filenames: false

      - id: terragrunt-fmt
        name: terragrunt format
        entry: mise exec -- terragrunt hcl format --check
        language: system
        files: \.hcl$
        pass_filenames: false

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

feat(terraform): add module for wireguard server
  modules/mikrotik-wireguard-server/_provider.tf
  modules/mikrotik-wireguard-server/_variables.tf
  modules/mikrotik-wireguard-server/main.tf
Due: terraform-fmt

feat(rb5009): configure wireguard server
  infrastructure/mikrotik/router-rb5009/services/wireguard-server/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard-server/terragrunt.hcl
Due: terragrunt-fmt

feat(1password): push wireguard keys to vault
  infrastructure/1password/terragrunt.hcl
Due: terragrunt-fmt

feat(terraform): add module for wireguard peers
  modules/mikrotik-wireguard-peers/_provider.tf
  modules/mikrotik-wireguard-peers/_variables.tf
  modules/mikrotik-wireguard-peers/main.tf
Due: terraform-fmt

feat(rb5009): configure wireguard peer for mirkphone
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/terragrunt.hcl
Due: terragrunt-fmt

feat: update fw rules for basic wireguard
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat(firewall): add destination address for Kubernetes GW Endpoint in WireGuard rules
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  modules/mikrotik-wireguard-peers/main.tf
Due: terraform-fmt

feat(terraform/dhcp): add configurable client MAC limit, conflict detection, and dynamic lease identifiers
  modules/mikrotik-dhcp-server/_variables.tf
  modules/mikrotik-dhcp-server/main.tf
Due: terraform-fmt

feat: add wireguard peer
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/terragrunt.hcl
Due: terragrunt-fmt

feat: add wireguard peer (#135)
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/terragrunt.hcl
Due: terragrunt-fmt

wip(cloudflare): add CNAME for wireguard
  infrastructure/cloudflare/primary/vpn/.terraform.lock.hcl
  infrastructure/cloudflare/primary/vpn/terragrunt.hcl
  infrastructure/cloudflare/primary/zone.hcl
  infrastructure/cloudflare/secondary/vpn/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/vpn/terragrunt.hcl
  infrastructure/cloudflare/secondary/zone.hcl
  modules/cloudflare-cname/_provider.tf
  modules/cloudflare-cname/_variables.tf
  modules/cloudflare-cname/main.tf
Due: terraform-fmt, terragrunt-fmt

chore: terragrunt init -upgrade
  infrastructure/1password/.terraform.lock.hcl
Due: terragrunt-fmt

fix(ci): load Cloudflare API token from 1Password and fix workflow references
  .github/actions/load-secrets/action.yml
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint

fix(ci): load Cloudflare API token from 1Password and fix workflow references (#137)
  .github/actions/load-secrets/action.yml
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint

ci(1pass/load-secrets): update CF token secret
  .github/actions/load-secrets/action.yml
Due: yamllint

feat(modules/dhcp): add match_subdomain option to DNS entries created by static leases
  modules/mikrotik-dhcp-server/_variables.tf
  modules/mikrotik-dhcp-server/main.tf
Due: terraform-fmt

feat(rb5009): set match_subdomain true for TrueNAS
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/terragrunt.hcl
Due: terragrunt-fmt

style: fix lint
  infrastructure/cloudflare/primary/vpn/terragrunt.hcl
  infrastructure/cloudflare/secondary/vpn/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/terragrunt.hcl
  modules/mikrotik-dhcp-server/main.tf
Due: terraform-fmt, terragrunt-fmt

chore: tg init -upgrade
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/cloudflare/primary/vpn/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/vpn/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/capsman/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/cloud/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/guest/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/management/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/services/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/storage/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/trusted/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dhcp/untrusted/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/dns-server/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/firewall/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/pppoe-client/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard-server/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: terragrunt-fmt

feat: update wireguard peers
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/terragrunt.hcl
Due: terragrunt-fmt

fix(firewall): update wireguard fw rules
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

fix(module/wireguard peers): remove preshared_key from outputs
  modules/mikrotik-wireguard-peers/main.tf
Due: terraform-fmt

style: cleanup
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/terragrunt.hcl
Due: terragrunt-fmt

fix(rb5009/firewall): update wireguard rules
  infrastructure/mikrotik/router-rb5009/services/firewall/terragrunt.hcl
Due: terragrunt-fmt

feat(rb5009/wireguard): add ashome peer
  infrastructure/mikrotik/router-rb5009/services/wireguard-peers/terragrunt.hcl
Due: terragrunt-fmt

fix(1password): remove preshared key from notes in wireguard input
  infrastructure/1password/terragrunt.hcl
Due: terragrunt-fmt

chore(mise): add awscli for s3 operations
  .mise.toml
Due: none

refactor: change wireguard-server and wireguard-peers into wireguard/server and wireguard/peers
  infrastructure/1password/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/terragrunt.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/server/.terraform.lock.hcl
  infrastructure/mikrotik/router-rb5009/services/wireguard/server/terragrunt.hcl
Due: terragrunt-fmt

docs: update readme and diagram
  README.md
  docs/img/network-diagram.drawio.png
Due: none

fix: update secrets
  .github/actions/load-secrets/action.yml
  infrastructure/1password/terragrunt.hcl
Due: yamllint, terragrunt-fmt

fix(rb5009/capsman): update upgrade policy to suggest same version
  infrastructure/mikrotik/router-rb5009/services/capsman/terragrunt.hcl
Due: terragrunt-fmt

fix(mikrotik): restrict mac services to management network
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

fix(mikrotik): disable mac services
  infrastructure/mikrotik/router-rb5009/terragrunt.hcl
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

feat(rb5009/wireguard): add mirkbook peer config
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/terragrunt.hcl
Due: terragrunt-fmt

feat(rb5009/wireguard): add bomkphone peer config
  infrastructure/mikrotik/router-rb5009/services/wireguard/peers/terragrunt.hcl
Due: terragrunt-fmt

chore(mise): update config
  .mise.toml
Due: none

chore(renovate): update config
  .renovaterc.json5
Due: none

ci(terragrunt-ci): streamline plan output handling
  .github/workflows/terragrunt-ci.yaml
Due: actionlint, yamllint
