Repository mirceanton/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, terraform-fmt, terragrunt-fmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(ya?ml)$
        pass_filenames: false

      - id: yamllint
        name: yamllint
        entry: mise exec -- yamllint -c .yamllint.yaml .
        language: system
        types: [yaml]

      - id: terraform-fmt
        name: terraform format
        entry: mise exec -- terraform fmt -check -recursive
        language: system
        files: \.tf$
        pass_filenames: false

      - id: terragrunt-fmt
        name: terragrunt format
        entry: mise exec -- terragrunt hcl format --check
        language: system
        files: \.hcl$
        pass_filenames: false

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

fix: update 1pass vault names
  .github/actions/load-secrets/action.yml
Due: yamllint

ci: set op token in env
  .github/workflows/terragrunt-apply.yaml
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

docs: update diagram
  docs/img/network-diagram.drawio.png
Due: none

docs: update readme
  README.md
Due: none

Update firewall-filter-rules.tf
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

fix
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

remove duplicate
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

feat(firewall): allow broadcast from Hass tot Trusted for WoL (#118)
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

feat(crs317): add 10gig port for mirkputer
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Due: terragrunt-fmt

feat: set static lease for mirkputer 10g
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat: decommission Odroid C4
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat: move HomeAssistant to the living room
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/mikrotik/switch-hex/terragrunt.hcl
Due: terragrunt-fmt

fix: put mirkputer 10gig on CRS317
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

feat: replace JetKVM w/ BliKVM
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat(crs326): cable cleanup
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

feat(crs317): 10 gig for aux node
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Due: terragrunt-fmt

feat: update dhcp reservations
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

fix: typo
  infrastructure/mikrotik/switch-crs317/terragrunt.hcl
Due: terragrunt-fmt

feat: add support for "match_subdomain" on DNS records
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/dns-server.tf
Due: terraform-fmt, terragrunt-fmt

feat: add CNAMEs for truenas services
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/dns-server.tf
Due: terraform-fmt, terragrunt-fmt

fix(firewall): asymmetric routing
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

feat: add dhcp lease for Automaton
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

chore: terragrunt init --all -upgrade
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/cloudflare/primary/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/.terraform.lock.hcl
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: terragrunt-fmt

fix(firewall): rename asymmetric routing rules
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

feat(firewall): add rule for asymmetric routing from management to services
  infrastructure/mikrotik/router-services/firewall-filter-rules.tf
Due: terraform-fmt

ci: Change runner type for terragrunt plan job
  .github/workflows/terragrunt-plan.yaml
Due: actionlint, yamllint

ci: Change runner type for terragrunt-apply job
  .github/workflows/terragrunt-apply.yaml
Due: actionlint, yamllint

chore: update self hosted runner label in actionlint config
  .github/actionlint.yaml
Due: yamllint

feat: add DHCP reservation and DNS entries for Epson printer
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

fix: change hass secondary dns record to CNAME pointing to main record
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

chore: terragrunt init -upgrade
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: terragrunt-fmt

feat: add testnas
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
Due: terragrunt-fmt

feat: replace terraform with opentofu
  .github/labeler.yaml
  .github/workflows/terragrunt-lint.yaml
  .mise.toml
  .pre-commit-config.yaml
  README.md
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/cloudflare/primary/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/.terraform.lock.hcl
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/router-services/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
Due: actionlint, yamllint, terragrunt-fmt

feat(zerotier): add route for ashome
  infrastructure/mikrotik/router-services/zerotier.tf
Due: terraform-fmt

style: fix lint
  infrastructure/mikrotik/router-services/zerotier.tf
Due: terraform-fmt

fix: remove 'letters' field from 1pass resour ces
  infrastructure/1password/.terraform.lock.hcl
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs317/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/mikrotik/switch-hex/.terraform.lock.hcl
  modules/1password-item/main.tf
Due: terraform-fmt, terragrunt-fmt

fix: remove cloudflare DNS entries
  infrastructure/cloudflare/dependency.hcl
  infrastructure/cloudflare/primary/.terraform.lock.hcl
  infrastructure/cloudflare/primary/terragrunt.hcl
  infrastructure/cloudflare/secondary/.terraform.lock.hcl
  infrastructure/cloudflare/secondary/terragrunt.hcl
Due: terragrunt-fmt

fix: disable mikrotik ddns
  infrastructure/mikrotik/router-services/ddns.tf
Due: terraform-fmt

chore: remove cloudflare tf module
  modules/cloudflare-cname/main.tf
  modules/cloudflare-cname/providers.tf
  modules/cloudflare-cname/variables.tf
Due: terraform-fmt

fix: remove ddns hostname output
  infrastructure/mikrotik/router-services/_outputs.tf
Due: terraform-fmt
